################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-Debug
/.vs
*.json
*.exe
*.cmake
*.make
*.bin
*.txt
*.a
