################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-Debug
/.vs
build/CMakeFiles/
build/.cmake/
build/Makefile
*.json
*.exe
*.cmake
*.make
*.bin
*.a
build/
.idea/

build/Makefile
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/3.27.6/CMakeCCompiler.cmake
build/CMakeFiles/3.27.6/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.6/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.6/CMakeRCCompiler.cmake
build/CMakeFiles/3.27.6/CMakeSystem.cmake
build/CMakeFiles/3.27.6/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.6/CompilerIdC/a.exe
build/CMakeFiles/3.27.6/CompilerIdCXX/a.exe
build/CMakeFiles/3.27.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/test_vector.dir/build.make
build/CMakeFiles/test_vector.dir/cmake_clean.cmake
build/CMakeFiles/test_vector.dir/compiler_depend.make
build/CMakeFiles/test_vector.dir/compiler_depend.ts
build/CMakeFiles/test_vector.dir/depend.make
build/CMakeFiles/test_vector.dir/DependInfo.cmake
build/CMakeFiles/test_vector.dir/flags.make
build/CMakeFiles/test_vector.dir/includes_CXX.rsp
build/CMakeFiles/test_vector.dir/linkLibs.rsp
build/CMakeFiles/test_vector.dir/objects1.rsp
build/CMakeFiles/test_vector.dir/progress.make
.idea/workspace.xml
.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
