################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-Debug
/.vs
/build/CMakeFiles/
/build/.cmake/
/build/Makefile
*.json
*.exe
*.cmake
*.make
*.bin
*.a
build/
.idea/
